/* 
	Author: Eject
	GitHub: https://github.com/Eject37
	Discord Server: https://discord.gg/8baJSRxXSm
	Discord: @eject37
*/

button[aria-label="Начать активность"],
button[aria-label="Камера недоступна"],
button[aria-label="Шумоподавление с помощью Krisp"],
[role="button"][aria-label="Показать профиль пользователя (недоступно)"],
[role="button"][aria-label="Показать профиль пользователя"],
[role="button"][aria-label="Почта"],
[role="button"][aria-label="Помощь"],
div:has(> button[aria-label="Открыть звуковую панель"]),
div:not(.actionButtons_e131a9):has(> span[class*="disabledButtonWrapper_"]),
span[class*="_201d5e8a3c09670a-disabledButtonWrapper"],
[role="button"][aria-label="Начать видеозвонок"],
button[aria-label="Отправить подарок"],
div:has(> button[aria-label="Открыть меню GIF"]),
div:has(> button[aria-label="Открыть меню выбора стикеров"]),
button[aria-label="Розпочати дію"],
button[aria-label="Поглинання шуму від Krisp"],
[role="button"][aria-label="Показати профіль користувача (недоступно)"],
[role="button"][aria-label="Показати профіль користувача"],
[role="button"][aria-label="Вхідні"],
[role="button"][aria-label="Довідка"],
div:has(> button[aria-label="Відкрити звукову панель"]),
[role="button"][aria-label="Розпочати відеовиклик"],
button[aria-label="Надіслати подарунок"],
div:has(> button[aria-label="Відкрити програму вибору GIF"]),
div:has(> button[aria-label="Відкрити програму вибору стікерів"]),
button[aria-label="Start An Activity"] {
    display: none;
}

/* hide nitro and shop tabs in DMs */
.channel__972a0 .linkButton__972a0 > .link__972a0[href="/shop"],
.channel__972a0 .linkButton__972a0 > .link__972a0[href="/store"] {
    display: none;
}

.buttonContainer__1405b {
    display: none;
}

.controlButton__1405b.fauxDisabled__666fa.contextMenuContainer_f1ceac {
    display: none;
}

.scroller_ef3116 > .listItem__650eb > .listItemWrapper__91816 {
    display: none;
}

.children__9293f > .akaBadge__27cd4,
.children__9293f > .nicknames__12efb,
.children__9293f > .divider__9293f {
    display: none;
}

.bd-switch-symbol,
.slider__3f21e > svg {
    display: none;
}

/* Реклама нитро при выборе качества демки */
.gradientBackground-MytxDL {
    display: none;
}

/* Иллюстрация при включении демки */
.art-1TvEXv,
.modalCloseButton-3jqiBN {
    display: none;
}

/* 'В эфире' на демках */
.indicators__2f4f7 {
    display: none;
}

/* Слева снизу в футере кнопку "Путешествие" */
.footer__214dc {
    display: none;
}

/* Комманды справа от поля куда писать сообщения */
.channelAppLauncher_e6e74f {
    display: none;
}

/* На демке в полном экране справа снизу звук и доп настройки */
.overlayButtonContainer__2f4f7 {
    display: none;
}

