/* 
	Author: Eject
	GitHub: https://github.com/Eject37
	Discord Server: https://discord.gg/8baJSRxXSm
	Discord: @eject37
*/

svg div button[aria-label="Включить микрофон"],
svg div button[aria-label="Увімкнути мікрофон"],
svg div button[aria-label="Turn On Microphone"] {
    background: var(--white-500) !important;
}
svg div button[aria-label="Включить микрофон"] svg,
svg div button[aria-label="Увімкнути мікрофон"] svg,
svg div button[aria-label="Turn On Microphone"] svg {
    color: var(--primary-860) !important;
}

svg div > button[aria-label="Отключить микрофон"],
svg div > button[aria-label="Вимкнути мікрофон"],
svg div > button[aria-label="Turn Off Microphone"] {
    background: var(--primary-630) !important;
}
svg div > button[aria-label="Отключить микрофон"]:hover,
svg div > button[aria-label="Вимкнути мікрофон"]:hover,
svg div > button[aria-label="Turn Off Microphone"]:hover {
    background: var(--primary-700) !important;
}
svg div button[aria-label="Отключить микрофон"] svg,
svg div button[aria-label="Вимкнути мікрофон"] svg,
svg div button[aria-label="Turn Off Microphone"] svg {
    color: var(--white-500) !important;
}

[role="button"][aria-label="Другие настройки"][class*="primaryDark_ec74a7"],
[role="button"][aria-label="Додаткові параметри"][class*="primaryDark_ec74a7"] {
    color: var(--primary-860) !important;
    background: var(--white-500) !important;
}

[role="button"][aria-label="Другие настройки"][class*="white_ce1c7b"],
[role="button"][aria-label="Додаткові параметри"][class*="white_ce1c7b"] {
    color: var(--white-500) !important;
    background: var(--primary-630) !important;
}
