/* 
	Author: Eject
	GitHub: https://github.com/Eject37
	Discord Server: https://discord.gg/8baJSRxXSm
	Discord: @eject37
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://eject37.github.io/DiscordTheme/HideTrash.css");
@import url("https://eject37.github.io/DiscordTheme/ScrollBar.css");
@import url("https://eject37.github.io/DiscordTheme/RoundUserPanel.css");
@import url("https://eject37.github.io/DiscordTheme/OldMicrophone.css");
@import url("https://eject37.github.io/DiscordTheme/ChangeSearchBarToIcon.css");
@import url("https://eject37.github.io/DiscordTheme/RegionFlags.css");

/* Тёмная */
:root {
    --main-color: rgb(22, 24, 26);
    --additional-color: rgb(27, 30, 33);
    --voice-color: #131414;
    --button-color: linear-gradient(90deg, #2f3946, #23272b);
    --blue-color-text: #7ecff5;
    --hover-color: #2e3337;
    --hover-additional-color: #2d3135;
    --link-color: #7daae9;
    --checkbox-cheked-color: #606c77;

    --tagged-message-background: #656c782e;
    --tagged-message-left-border: #4b7c97;
    --important-messages-color: #6494d1;
    --ping-tooltip: #5289b8;
}

/* Синяя */
/*:root {
    --main-color: #1a2026;
    --additional-color: #1f262d;
    --voice-color: #11171d;
    --button-color: linear-gradient(90deg, #263341, #273039);
    --blue-color-text: #7ecff5;
    --hover-color: #2a3742;
    --hover-additional-color: #252c35;
    --link-color: #7daae9;
    --checkbox-cheked-color: #23588b;

    --tagged-message-background: #7789ab2e;
    --tagged-message-left-border: #4b7c97;
    --important-messages-color: #3d78c4;
    --ping-tooltip: #5289b8;
}*/

.theme-dark {
    /* Цвет контекстного меню */
    --background-floating: var(--additional-color);
    /* Цвет ссылок */
    --text-link: var(--link-color);
    /* Цвет голосовых сообщений */
    --background-secondary: var(--additional-color);
    /* Цвет в закрепах и тд */
    --background-primary: var(--main-color);
    /* Цвет бейджей важных сообщений */
    --status-danger: var(--important-messages-color);
    /* Цвет экрана выбора демки */
    --modal-background: var(--main-color);
    --modal-footer-background: var(--additional-color);
    /* Задний цвет выбранного канала на сервере */
    --background-modifier-selected: var(--hover-color);
    --background-modifier-active: var(--hover-color);
    /* Кнопка Добавить в друзья на главном экране */
    --status-positive-background: var(--hover-color);
}
:root {
    /* Цвет загрузки демок и прочего */
    --primary-700: var(--main-color);
    /* Цвет в контекстном меню при наведении */
    --brand-experiment-560: var(--hover-color);
    /* Цвет текста при хорошем сигнале */
    --text-positive: var(--text-link);
    /* Цвет контекстного меню выбора региона звонка */
    --primary-630: var(--additional-color);
    --background-modifier-hover: var(--hover-color);
    --background-primary: var(--main-color);
    /* Кнопка В эфире */
    --red-400: #263341;
    /* Выбранное разрешение и фпс демки */
    --brand-experiment: var(--hover-color);
    /* Серые цвета кнопок */
    --button-secondary-background: var(--hover-additional-color);
    --button-secondary-background-hover: var(--hover-color);
    /* Цвет твоей панели активности */
    --background-secondary-alt: var(--additional-color);
    /* Цвета кнопок удалить сообщения */
    --red-430: var(--hover-color);
    --red-500: var(--brand-600);
    --red-530: var(--brand-600);
    /* Задний цвет сообщения в модальном окне удаления сообщений */
    --primary-600: var(--additional-color);

    /* Цвет чекбоксов (на экране выбора демки) */
    --brand-400: var(--hover-additional-color);
    /* Новые цвета кнопок разных (на экране выбора демки + логотип дискорда) */
    --brand-500: var(--hover-additional-color);
    /* Цвет кнопки Go Live при наведении */
    --brand-560: var(--hover-color);

    /* Шрифт */
    --font-primary: "Montserrat", Arial, sans-serif;
    --font-display: "Montserrat", Arial, sans-serif;
    --font-headline: "Montserrat", Arial, sans-serif;

    /* Значок голосовой связи (Wi-Fi) */
    --status-positive: var(--text-positive);

    /* Brand tooltip (ping) */
    --green-360: var(--ping-tooltip);
}

/* Шрифт */
:root:lang(bg),
:root:lang(el),
:root:lang(ru),
:root:lang(uk) {
    --font-primary: "Montserrat", Arial, sans-serif;
    --font-display: "Montserrat", Arial, sans-serif;
    --font-headline: "Montserrat", Arial, sans-serif;
}

.e131a99484292a19-actionButtons > button[aria-label="Продемонстрируйте свой экран"],
.e131a99484292a19-actionButtons > button[aria-label="Почати демонстрацію екрану"] {
    background: var(--button-color);
    border-radius: 10px;
}

._421edea01cb52e16-withFrame {
    background-color: var(--main-color) !important;
}

.ef3116c2da186559-scroller,
.theme-dark ._5dec784a68542d60-panel,
.f75fb00fb7356cbe-chatContent {
    background: var(--main-color);
}

.bfe55a0aaaf62375-root {
    background: var(--voice-color);
}

._37e49614b9f110a9-container,
.e131a99484292a19-container {
    background: var(--main-color) !important;
}

._99e7cad8d4c55236-scroller,
.e6b7699ce8339e1c-searchBar {
    background: var(--additional-color) !important;
}

.searchBarComponent__35e86,
.c322aadb96ff59c9-searchBar {
    background: var(--main-color) !important;
}

[data-list-id="chat-messages"],
.f75fb00fb7356cbe-form:before,
.f75fb00fb7356cbe-form {
    background: var(--main-color) !important;
}

._1b31f471f0bb10ab-placeholder,
._740174f3d6a2c8fe-scrollableContainer {
    background: var(--additional-color);
}

._9293f6b2fc12398a-themed,
._9293f6b2fc12398a-children:after {
    background: var(--additional-color) !important;
}

.c8ffbb79449f399c-members {
    background: var(--additional-color);
}

.bf202d63ad53e289-selected {
    background: var(--hover-color);
}

/* Анимация при наведении на каналы на серверах */
._2ea32c412048f708-link {
    transition: background-color 0.4s;
}

/* Список сообщений, серверов, пользователей при наведении */
.bf202d63ad53e289-interactive:hover:not(._972a0d22c8afa7f0-interactiveSelected),
._2ea32c412048f708-wrapper:hover ._2ea32c412048f708-wrapper,
._91a9d7f7e5248a56-clickable:hover ._91a9d7f7e5248a56-layout,
.f7ecaca5c80dbf3a-button:hover {
    background: var(--hover-additional-color);
    transition: 0.3s;
}

/* Выбранные Список сообщений, серверов, пользователей */
._2ea32c412048f708-modeSelected ._2ea32c412048f708-wrapper,
.f7ecaca5c80dbf3a-button.f7ecaca5c80dbf3a-selected {
    background: var(--hover-additional-color) !important;
}

.theme-dark ._2637a2609f343032-container,
.c8ffbb79449f399c-container {
    background: var(--additional-color);
}

/* Если тебя упомянули */
._5126c0cd07f243a0-mentioned {
    background: var(--tagged-message-background) !important;
}

/* Линия слева в сообщении в котором тебя упомянули */
._5126c0cd07f243a0-mentioned:before {
    background-color: var(--tagged-message-left-border);
}

/* Кнопка В эфире */
/*.a7acaedd978a9637-live.a7acaedd978a9637-liveLarge {
	background: var(--button-color);
}*/

/* Кнопка выключения просмотра демонстрации экрана и кнопка Отключиться */
button[aria-label="Прекратить просмотр"],
.f1ceaca61b18918e-colorable.f1ceaca61b18918e-red {
    background: var(--button-color) !important;
}

/* Цвет строки поиска в вкладке Друзья */
.inner__999f6 {
    background: var(--additional-color);
}

/* Загружаемые файлы и разные фоны в сообщениях */
._0ccaee68b77c7469-fileWrapper.newMosaicStyle_b52bef,
._4d95d73152192cf9-newMosaicStyle ._4d95d73152192cf9-codeView,
._4d95d73152192cf9-newMosaicStyle ._4d95d73152192cf9-footer,
._4d95d73152192cf9-newMosaicStyle ._4d95d73152192cf9-textContainer,
._623de82e76ad7f82-grid,
.f7ecaca5c80dbf3a-wrapper {
    background: var(--button-color);
}

/* Кнопка + (зайти на сервер) */
._5bc7ed9d4097f6b5-circleIcon > path {
    fill: var(--blue-color-text);
}
._5bc7ed9d4097f6b5-circleIconButton {
    background: var(--button-color);
}

/* Отображение цвета разговора */
._2f4f7eb58b61c328-border._2f4f7eb58b61c328-speaking,
.f910d08f42c82225-border.speaking_f910d0,
.speaking-3K28iH,
.speaking__68617,
.avatarSpeaking__44b0c {
    box-shadow: inset 0 0 10px rgb(140, 140, 140);
}

/* Меню настроек */
._23e6b439306f125a-sidebarRegionScroller,
._23e6b439306f125a-contentRegionShownSidebar {
    background: radial-gradient(var(--main-color), #131314) !important;
    /* background: var(--main-color) !important; */
}

._3f21e80f8677ec40-container._3f21e80f8677ec40-checked,
.bd-switch input:checked + .bd-switch-body {
    background-color: var(--checkbox-cheked-color) !important;
}

/* Зеленый значок показывающий нахождение в голосовом канале */
._650eb104245d257b-iconBadge {
    background-color: var(--checkbox-cheked-color) !important;
}

/* Правая панель серверов */
.c8ffbb79449f399c-member {
    background: #ff000000;
}

/* Профили */
.overlayBackground_c69a7b {
    background-color: var(--main-color);
}

.userProfileInner_c69a7b:before,
.userProfileInnerThemedNonPremium_c69a7b {
    background: var(--additional-color);
}

/* Шрифт для плагина который показывает сколько времени я в голосовом канале */
.text-xs-normal__46d75 span {
    font-family: var(--font-primary) !important;
}

/* Подсказки при наведении */
.c36707910f687430-tooltipPrimary,
.c36707910f687430-tooltipGrey {
    background: var(--button-color) !important;
    border-radius: 10px;
}

/* Сверху цвет надписи Discord */
/* ._421edea01cb52e16-wordmarkWindows {
    color: var(--text-link);
} */

/* Цвет контекстного меню выбора региона звонка при наведении */
.theme-dark .quickSelectPopoutOption_b852b1:hover {
    background-color: var(--hover-color);
}

.quickSelectPopoutOption_b852b1:focus {
    background-color: transparent;
}

/* Зеленый индикатор демки рабочего стола */
.a629d4eb1dd44839-icon {
    background-color: var(--hover-color) !important;
}

/* Нижняя панель где ава, статус, муты микро */
._37e49614b9f110a9-container,
.e131a99484292a19-container,
._5dec784a68542d60-panel {
    background-color: var(--main-color) !important;
}

/* Выделение текста */
::selection {
    background: var(--hover-color) !important;
}

/* Цвет хедера плагинов */
.bd-addon-header {
    background-color: var(--hover-color) !important;
}

/* Закругленная панель настроек в настройках */
.aa8da23faa27393c-side {
    border: 1px solid var(--background-modifier-accent);
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    margin-left: -30px;
}

/* Закругленная панель где писать сообщение */
._740174f3d6a2c8fe-scrollableContainer {
    border: 1px solid var(--background-modifier-accent);
    border-radius: 20px;
    /* box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45); */
}

/* Анимации при переключении табов разных */
._36d072eab2b2e737-messagesWrapper,
._2637a2609f343032-container,
._99f8cc7ad4790ce9-content,
._133bf5eea8e33a34-peopleColumn {
    animation: show 0.3s ease;
}

/* Анимация прокрутки значка дискорда */
._1f388bcaa446c0c8-tutorialContainer .selected_dfb2f8 ._6e9f8dce4cc18de3-childWrapper svg {
    animation: spin 0.8s 0.2s ease;
}

/* Контекстное меню */
.c1e9c47c23f12ca3-menu {
    border-radius: 20px;
    border: 1px solid var(--background-modifier-accent);
    animation: 0.1s show ease;
}

/* Кнопки в контекстном меню */
.c1e9c47c23f12ca3-colorDefault.c1e9c47c23f12ca3-focused {
    border-radius: 10px;
}

/* Контекстное меню выбора региона звонка */
.ebaca56eb4bb23eb-quickSelectPopout {
    border-radius: 10px;
    /* border: 1px solid var(--background-modifier-accent); */
    /* .regionSelectName__8de63 {
    text-align: left;
	} */
}

/* Панель действий при наведении на сообщения */
._5126c0cd07f243a0-buttonsInner {
    border: 1px solid var(--background-modifier-accent);
    border-radius: 10px;
}

/* 3 кнопки в звонке смещаем немного влево*/
/*._1405b3b8e8eb5fd0-wrapper {
    margin-right: 5%;
}*/

/* Поставленная реакция на сообщение */
._23977d5b7cef7361-reactionMe {
    background-color: var(--hover-color) !important;
    border-color: var(--checkbox-cheked-color) !important;
}

/* Спойлеры в чатах */
._299eb87491f4b6d1-spoilerContent._299eb87491f4b6d1-hidden {
    --__current--spoiler-background-color: var(--hover-color);
}
._299eb87491f4b6d1-spoilerContent._299eb87491f4b6d1-hidden:hover {
    --__current--spoiler-background-color: var(--additional-color);
}

.f369dba7416c67f0-container {
    background: var(--main-color);
}

/* Скрываем линию прокрутки на серверах */
.ef3116c2da186559-scroller.d125d22cdfd32cfe-none.d125d22cdfd32cfe-scrollerBase::-webkit-scrollbar {
    width: 0 !important;
}

/* Фикс чата 26.10.2024 */
._740174f3d6a2c8fe-themedBackground {
    background: var(--additional-color);
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(380deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
