/* 
	Author: Eject
	GitHub: https://github.com/Eject37
	Discord Server: https://discord.gg/8baJSRxXSm
	Discord: @eject37
*/

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://eject37.github.io/DiscordTheme/HideTrash.css");
@import url("https://eject37.github.io/DiscordTheme/ScrollBar.css");
@import url("https://eject37.github.io/DiscordTheme/RoundUserPanel.css");
@import url("https://eject37.github.io/DiscordTheme/OldMicrophone.css");
@import url("https://eject37.github.io/DiscordTheme/ChangeSearchBarToIcon.css");
@import url("https://eject37.github.io/DiscordTheme/RegionFlags.css");

/* Тёмная */
:root {
    --main-color: rgb(22, 24, 26);
    --additional-color: rgb(27, 30, 33);
    --voice-color: #131414;
    --button-color: linear-gradient(90deg, #2f3946, #23272b);
    --blue-color-text: #7ecff5;
    --hover-color: #2e3337;
    --hover-additional-color: #2d3135;
    --link-color: #7daae9;
    --checkbox-cheked-color: #606c77;

    --tagged-message-background: #656c782e;
    --tagged-message-left-border: #4b7c97;
    --important-messages-color: #6494d1;
    --ping-tooltip: #5289b8;
}

/* Синяя */
/*:root {
    --main-color: #1a2026;
    --additional-color: #1f262d;
    --voice-color: #11171d;
    --button-color: linear-gradient(90deg, #263341, #273039);
    --blue-color-text: #7ecff5;
    --hover-color: #2a3742;
    --hover-additional-color: #252c35;
    --link-color: #7daae9;
    --checkbox-cheked-color: #23588b;

    --tagged-message-background: #7789ab2e;
    --tagged-message-left-border: #4b7c97;
    --important-messages-color: #3d78c4;
    --ping-tooltip: #5289b8;
}*/

.theme-dark {
    /* Цвет контекстного меню */
    --background-floating: var(--additional-color);
    /* Цвет ссылок */
    --text-link: var(--link-color);
    /* Цвет голосовых сообщений */
    --background-secondary: var(--additional-color);
    /* Цвет в закрепах и тд */
    --background-primary: var(--main-color);
    /* Цвет бейджей важных сообщений */
    --status-danger: var(--important-messages-color);
    /* Цвет экрана выбора демки */
    --modal-background: var(--main-color);
    --modal-footer-background: var(--additional-color);
    /* Задний цвет выбранного канала на сервере */
    --background-modifier-selected: var(--hover-color);
    --background-modifier-active: var(--hover-color);
    /* Кнопка Добавить в друзья на главном экране */
    --status-positive-background: var(--hover-color);
}
:root {
    /* Цвет загрузки демок и прочего */
    --primary-700: var(--main-color);
    /* Цвет в контекстном меню при наведении */
    --brand-experiment-560: var(--hover-color);
    /* Цвет текста при хорошем сигнале */
    --text-positive: var(--text-link);
    /* Цвет контекстного меню выбора региона звонка */
    --primary-630: var(--additional-color);
    --background-modifier-hover: var(--hover-color);
    --background-primary: var(--main-color);
    /* Кнопка В эфире */
    --red-400: #263341;
    /* Выбранное разрешение и фпс демки */
    --brand-experiment: var(--hover-color);
    /* Серые цвета кнопок */
    --button-secondary-background: var(--hover-additional-color);
    --button-secondary-background-hover: var(--hover-color);
    /* Цвет твоей панели активности */
    --background-secondary-alt: var(--additional-color);
    /* Цвета кнопок удалить сообщения */
    --red-430: var(--hover-color);
    --red-500: var(--brand-600);
    --red-530: var(--brand-600);
    /* Задний цвет сообщения в модальном окне удаления сообщений */
    --primary-600: var(--additional-color);

    /* Цвет чекбоксов (на экране выбора демки) */
    --brand-400: var(--hover-additional-color);
    /* Новые цвета кнопок разных (на экране выбора демки + логотип дискорда) */
    --brand-500: var(--hover-additional-color);
    /* Цвет кнопки Go Live при наведении */
    --brand-560: var(--hover-color);

    /* Шрифт */
    --font-primary: "Montserrat", Arial, sans-serif;
    --font-display: "Montserrat", Arial, sans-serif;
    --font-headline: "Montserrat", Arial, sans-serif;

    /* Значок голосовой связи (Wi-Fi) */
    --status-positive: var(--text-positive);

    /* Brand tooltip (ping) */
    --green-360: var(--ping-tooltip);
}

/* Шрифт */
:root:lang(bg),
:root:lang(el),
:root:lang(ru),
:root:lang(uk) {
    --font-primary: "Montserrat", Arial, sans-serif;
    --font-display: "Montserrat", Arial, sans-serif;
    --font-headline: "Montserrat", Arial, sans-serif;
}

.actionButtons_adcaac > button[aria-label="Продемонстрируйте свой экран"],
.actionButtons_adcaac > button[aria-label="Почати демонстрацію екрану"] {
    background: var(--button-color);
    border-radius: 10px;
}

.withFrame_a934d8 {
    background-color: var(--main-color) !important;
}

.scroller_fea3ef,
.theme-dark .panel_bf1a22,
.chatContent_a7d72e {
    background: var(--main-color);
}

.root_dd069c {
    background: var(--voice-color);
}

.container_b2ca13,
.container_adcaac {
    background: var(--main-color) !important;
}

.scroller_c47fa9,
.searchBar_f0963d {
    background: var(--additional-color) !important;
}

.searchBarComponent_f0963d,
.searchBar_a46bef {
    background: var(--main-color) !important;
}

[data-list-id="chat-messages"],
.form_a7d72e:before,
.form_a7d72e {
    background: var(--main-color) !important;
}

.placeholder_a552a6,
.scrollableContainer_d0696b {
    background: var(--additional-color);
}

.themed_fc4f04,
.children_fc4f04:after {
    background: var(--additional-color) !important;
}

.members_cbd271 {
    background: var(--additional-color);
}

.selected_f5eb4b {
    background: var(--hover-color);
}

/* Анимация при наведении на каналы на серверах */
.link_d8bfb3 {
    transition: background-color 0.4s;
}

/* Список сообщений, серверов, пользователей при наведении */
.interactive_f5eb4b:hover:not(.interactiveSelected_c91bad),
.wrapper_d8bfb3:hover .wrapper_d8bfb3,
.clickable_d808b0:hover .layout_d808b0,
.button_f7e168:hover {
    background: var(--hover-additional-color);
    transition: 0.3s;
}

/* Выбранные Список сообщений, серверов, пользователей */
.modeSelected_d8bfb3 .wrapper_d8bfb3,
.button_f7e168.selected_f7e168 {
    background: var(--hover-additional-color) !important;
}

.theme-dark .container_ee69e0,
.container_cbd271 {
    background: var(--additional-color);
}

/* Если тебя упомянули */
.mentioned_d5deea {
    background: var(--tagged-message-background) !important;
}

/* Линия слева в сообщении в котором тебя упомянули */
.mentioned_d5deea:before {
    background-color: var(--tagged-message-left-border);
}

/* Кнопка В эфире */
/*.live_ec1c2d.liveLarge_ec1c2d {
	background: var(--button-color);
}*/

/* Кнопка выключения просмотра демонстрации экрана и кнопка Отключиться */
button[aria-label="Прекратить просмотр"],
.colorable_ef18ee.red_ef18ee {
    background: var(--button-color) !important;
}

/* Цвет строки поиска в вкладке Друзья */
.inner__999f6 {
    background: var(--additional-color);
}

/* Загружаемые файлы и разные фоны в сообщениях */
.attachment_b52bef.newMosaicStyle_b52bef,
.newMosaicStyle_d8e2d0 .codeView_d8e2d0,
.newMosaicStyle_d8e2d0 .footer_d8e2d0,
.newMosaicStyle_d8e2d0 .textContainer_d8e2d0,
.grid_b0068a,
.wrapper_f7e168 {
    background: var(--button-color);
}

/* Кнопка + (зайти на сервер) */
.circleIcon_db6521 > path {
    fill: var(--blue-color-text);
}
.circleIconButton_db6521 {
    background: var(--button-color);
}

/* Отображение цвета разговора */
.border_ba4b17.speaking_ba4b17,
.border_db83a2.speaking_db83a2,
.speaking-3K28iH,
.speaking_fb2f1c,
.avatarSpeaking_c51b4e {
    box-shadow: inset 0 0 10px rgb(140, 140, 140);
}

/* Меню настроек */
.sidebarRegionScroller_c25c6d,
.contentRegionShownSidebar_c25c6d {
    background: radial-gradient(var(--main-color), #131314) !important;
    /* background: var(--main-color) !important; */
}

.container_cebd1c.checked_cebd1c,
.bd-switch input:checked + .bd-switch-body {
    background-color: var(--checkbox-cheked-color) !important;
}

/* Зеленый значок показывающий нахождение в голосовом канале */
.iconBadge_c96c45 {
    background-color: var(--checkbox-cheked-color) !important;
}

/* Правая панель серверов */
.member_cbd271 {
    background: #ff000000;
}

/* Профили */
.overlayBackground_c69a7b {
    background-color: var(--main-color);
}

.userProfileInner_c69a7b:before,
.userProfileInnerThemedNonPremium_c69a7b {
    background: var(--additional-color);
}

/* Шрифт для плагина который показывает сколько времени я в голосовом канале */
.text-xs-normal__46d75 span {
    font-family: var(--font-primary) !important;
}

/* Подсказки при наведении */
.tooltipPrimary_b6c360,
.tooltipGrey_b6c360 {
    background: var(--button-color) !important;
    border-radius: 10px;
}

/* Сверху цвет надписи Discord */
/* .wordmarkWindows_a934d8 {
    color: var(--text-link);
} */

/* Цвет контекстного меню выбора региона звонка при наведении */
.theme-dark .quickSelectPopoutOption_b852b1:hover {
    background-color: var(--hover-color);
}

.quickSelectPopoutOption_b852b1:focus {
    background-color: transparent;
}

/* Зеленый индикатор демки рабочего стола */
.icon_c07d45 {
    background-color: var(--hover-color) !important;
}

/* Нижняя панель где ава, статус, муты микро */
.container_b2ca13,
.container_adcaac,
.panel_bf1a22 {
    background-color: var(--main-color) !important;
}

/* Выделение текста */
::selection {
    background: var(--hover-color) !important;
}

/* Цвет хедера плагинов */
.bd-addon-header {
    background-color: var(--hover-color) !important;
}

/* Закругленная панель настроек в настройках */
.side_a0 {
    border: 1px solid var(--background-modifier-accent);
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    margin-left: -30px;
}

/* Закругленная панель где писать сообщение */
.scrollableContainer_d0696b {
    border: 1px solid var(--background-modifier-accent);
    border-radius: 20px;
    /* box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45); */
}

/* Анимации при переключении табов разных */
.messagesWrapper_e2e187,
.container_ee69e0,
.content_eed6a8,
.peopleColumn_c2739c {
    animation: show 0.3s ease;
}

/* Анимация прокрутки значка дискорда */
.tutorialContainer_f9623d .selected_dfb2f8 .childWrapper_f90abb svg {
    animation: spin 0.8s 0.2s ease;
}

/* Контекстное меню */
.menu_d90b3d {
    border-radius: 20px;
    border: 1px solid var(--background-modifier-accent);
    animation: 0.1s show ease;
}

/* Кнопки в контекстном меню */
.colorDefault_d90b3d.focused_d90b3d {
    border-radius: 10px;
}

/* Контекстное меню выбора региона звонка */
.quickSelectPopout_abbf45 {
    border-radius: 10px;
    /* border: 1px solid var(--background-modifier-accent); */
    /* .regionSelectName_ccb5ca {
    text-align: left;
	} */
}

/* Панель действий при наведении на сообщения */
.buttonsInner_d5deea {
    border: 1px solid var(--background-modifier-accent);
    border-radius: 10px;
}

/* 3 кнопки в звонке смещаем немного влево*/
/*.wrapper_b6e2f9 {
    margin-right: 5%;
}*/

/* Поставленная реакция на сообщение */
.reactionMe_ec6b19 {
    background-color: var(--hover-color) !important;
    border-color: var(--checkbox-cheked-color) !important;
}

/* Спойлеры в чатах */
.spoilerContent_aa9639.hidden_aa9639 {
    --__current--spoiler-background-color: var(--hover-color);
}
.spoilerContent_aa9639.hidden_aa9639:hover {
    --__current--spoiler-background-color: var(--additional-color);
}

.container_a6d69a {
    background: var(--main-color);
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(380deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
