@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://eject37.github.io/DiscordTheme/HideTrash.css");
@import url("https://eject37.github.io/DiscordTheme/ScrollBar.css");
@import url("https://eject37.github.io/DiscordTheme/RoundUserPanel.css");
@import url("https://eject37.github.io/DiscordTheme/OldMicrophone.css");
@import url("https://eject37.github.io/DiscordTheme/ChangeSearchBarToIcon.css");

/* Тёмная */
:root {
    --main-color: rgb(22, 24, 26);
    --additional-color: rgb(27, 30, 33);
    --voice-color: #131414;
    --button-color: linear-gradient(90deg, #2f3946, #23272b);
    --blue-color-text: #7ecff5;
    --hover-color: #2e3337;
    --hover-additional-color: #2d3135;
    --link-color: #7daae9;
    --checkbox-cheked-color: #606c77;

    --tagged-message-background: #656c782e;
    --tagged-message-left-border: #4b7c97;
    --important-messages-color: #6494d1;
    --ping-tooltip: #5289b8;
}

/* Синяя */
/*:root {
    --main-color: #1a2026;
    --additional-color: #1f262d;
    --voice-color: #11171d;
    --button-color: linear-gradient(90deg, #263341, #273039);
    --blue-color-text: #7ecff5;
    --hover-color: #2a3742;
    --hover-additional-color: #252c35;
    --link-color: #7daae9;
    --checkbox-cheked-color: #23588b;

    --tagged-message-background: #7789ab2e;
    --tagged-message-left-border: #4b7c97;
    --important-messages-color: #3d78c4;
    --ping-tooltip: #5289b8;
}*/

.theme-dark {
    /* Цвет контекстного меню */
    --background-floating: var(--additional-color);
    /* Цвет ссылок */
    --text-link: var(--link-color);
    /* Цвет голосовых сообщений */
    --background-secondary: var(--additional-color);
    /* Цвет в закрепах и тд */
    --background-primary: var(--main-color);
    /* Цвет бейджей важных сообщений */
    --status-danger: var(--important-messages-color);
    /* Цвет экрана выбора демки */
    --modal-background: var(--main-color);
    --modal-footer-background: var(--additional-color);
    /* Задний цвет выбранного канала на сервере */
    --background-modifier-selected: var(--hover-color);
    --background-modifier-active: var(--hover-color);
    /* Кнопка Добавить в друзья на главном экране */
    --status-positive-background: var(--hover-color);
}
:root {
    /* Цвет загрузки демок и прочего */
    --primary-700: var(--main-color);
    /* Цвет в контекстном меню при наведении */
    --brand-experiment-560: var(--hover-color);
    /* Цвет текста при хорошем сигнале */
    --text-positive: var(--text-link);
    /* Цвет контекстного меню выбора региона звонка */
    --primary-630: var(--additional-color);
    --background-modifier-hover: var(--hover-color);
    --background-primary: var(--main-color);
    /* Кнопка В эфире */
    --red-400: #263341;
    /* Выбранное разрешение и фпс демки */
    --brand-experiment: var(--hover-color);
    /* Серые цвета кнопок */
    --button-secondary-background: var(--hover-additional-color);
    --button-secondary-background-hover: var(--hover-color);
    /* Цвет твоей панели активности */
    --background-secondary-alt: var(--additional-color);
    /* Цвета кнопок удалить сообщения */
    --red-430: var(--hover-color);
    --red-500: var(--brand-600);
    --red-530: var(--brand-600);
    /* Задний цвет сообщения в модальном окне удаления сообщений */
    --primary-600: var(--additional-color);

    /* Цвет чекбоксов (на экране выбора демки) */
    --brand-400: var(--hover-additional-color);
    /* Новые цвета кнопок разных (на экране выбора демки + логотип дискорда) */
    --brand-500: var(--hover-additional-color);
    /* Цвет кнопки Go Live при наведении */
    --brand-560: var(--hover-color);

    /* Шрифт */
    --font-primary: "Montserrat", Arial, sans-serif;
    --font-display: "Montserrat", Arial, sans-serif;
    --font-headline: "Montserrat", Arial, sans-serif;

    /* Значок голосовой связи (Wi-Fi) */
    --status-positive: var(--text-positive);

    /* Brand tooltip (ping) */
    --green-360: var(--ping-tooltip);
}

/* Шрифт */
:root:lang(bg),
:root:lang(el),
:root:lang(ru),
:root:lang(uk) {
    --font-primary: "Montserrat", Arial, sans-serif;
    --font-display: "Montserrat", Arial, sans-serif;
    --font-headline: "Montserrat", Arial, sans-serif;
}

.actionButtons__85e3c > button[aria-label="Продемонстрируйте свой экран"],
.actionButtons__85e3c > button[aria-label="Почати демонстрацію екрану"] {
    background: var(--button-color);
    border-radius: 10px;
}

.withFrame__5e49e {
    background-color: var(--main-color) !important;
}

.scroller_de945b,
.theme-dark .panel_bd8c76,
.chatContent_f087cb {
    background: var(--main-color);
}

.root__3eef0 {
    background: var(--voice-color);
}

.container_debb33,
.container_e1958d {
    background: var(--main-color) !important;
}

.scroller__89969,
.searchBar__621ec {
    background: var(--additional-color) !important;
}

.searchBarComponent__8f95f,
.searchBar__5a20a {
    background: var(--main-color) !important;
}

[data-list-id="chat-messages"],
.form_d8a4a1:before,
.form_d8a4a1 {
    background: var(--main-color) !important;
}

.placeholder_dec8c7,
.scrollableContainer_ff917f {
    background: var(--additional-color);
}

.themed_b152d4,
.children_cde9af:after {
    background: var(--additional-color) !important;
}

.members__573eb {
    background: var(--additional-color);
}

.selected__37292 {
    background: var(--hover-color);
}

/* Анимация при наведении на каналы на серверах */
.link_ddbb36 {
    transition: background-color 0.4s;
}

/* Список сообщений, серверов, пользователей при наведении */
.interactive__0786a:hover:not(.interactiveSelected__689f0),
.wrapper__612a5:hover .wrapper__612a5,
.clickable__03a29:hover .layout_bb8e67,
.button_d4bf9b:hover {
    background: var(--hover-additional-color);
    transition: 0.3s;
}

/* Выбранные Список сообщений, серверов, пользователей */
.modeSelected__473f1 .wrapper__612a5,
.button_d4bf9b.selected__74fee {
    background: var(--hover-additional-color) !important;
}

.theme-dark .container__7e23c,
.container_f79ab4 {
    background: var(--additional-color);
}

/* Если тебя упомянули */
.mentioned_fa6fd2 {
    background: var(--tagged-message-background) !important;
}

/* Линия слева в сообщении в котором тебя упомянули */
.mentioned_fa6fd2:before {
    background-color: var(--tagged-message-left-border);
}

/* Кнопка В эфире */
/*.live_b195a5.liveLarge_b5ceaa {
	background: var(--button-color);
}*/

/* Кнопка выключения просмотра демонстрации экрана и кнопка Отключиться */
button[aria-label="Прекратить просмотр"],
.colorable__4f530.red__45e65 {
    background: var(--button-color) !important;
}

/* Цвет строки поиска в вкладке Друзья */
.inner__999f6 {
    background: var(--additional-color);
}

/* Загружаемые файлы и разные фоны в сообщениях */
.attachment__06ca3.newMosaicStyle_b4aa24,
.newMosaicStyle_ed53d8 .codeView_e4dd18,
.newMosaicStyle_ed53d8 .footer__90194,
.newMosaicStyle_ed53d8 .textContainer__65f57,
.grid__35551,
.wrapper__4e6b6 {
    background: var(--button-color);
}

/* Кнопка + (зайти на сервер) */
.circleIcon_b62ef0 > path {
    fill: var(--blue-color-text);
}
.circleIconButton__05cf2 {
    background: var(--button-color);
}

/* Отображение цвета разговора */
.border_d9a17b.speaking_c28527,
.border_e782de.speaking_b20122,
.speaking-3K28iH,
.speaking__33297,
.avatarSpeaking__747a1 {
    box-shadow: inset 0 0 10px rgb(140, 140, 140);
}

/* Меню настроек */
.sidebarRegionScroller__8113e,
.contentRegionShownSidebar__9d1b9 {
    background: radial-gradient(var(--main-color), #131314) !important;
    /* background: var(--main-color) !important; */
}

.container__2ed72.checked__36fdc,
.bd-switch input:checked + .bd-switch-body {
    background-color: var(--checkbox-cheked-color) !important;
}

/* Зеленый значок показывающий нахождение в голосовом канале */
.iconBadge__19638 {
    background-color: var(--checkbox-cheked-color) !important;
}

/* Правая панель серверов */
.member_b44d5d {
    background: #ff000000;
}

/* Профили */
.overlayBackground__345c9 {
    background-color: var(--main-color);
}

.userProfileInner__8ff35:before,
.userProfileInnerThemedNonPremium_b64fb4 {
    background: var(--additional-color);
}

/* Шрифт для плагина который показывает сколько времени я в голосовом канале */
.text-xs-normal__46d75 span {
    font-family: var(--font-primary) !important;
}

/* Подсказки при наведении */
.tooltipPrimary__51b23,
.tooltipGrey__3108e {
    background: var(--button-color) !important;
    border-radius: 10px;
}

/* Сверху цвет надписи Discord */
/* .wordmarkWindows_ffbc5e {
    color: var(--text-link);
} */

/* Цвет контекстного меню выбора региона звонка при наведении */
.theme-dark .quickSelectPopoutOption_b852b1:hover {
    background-color: var(--hover-color);
}

.quickSelectPopoutOption_b852b1:focus {
    background-color: transparent;
}

/* Зеленый индикатор демки рабочего стола */
.icon__493c1 {
    background-color: var(--hover-color) !important;
}

/* Нижняя панель где ава, статус, муты микро */
.container_debb33,
.container_e1958d,
.panel_bd8c76 {
    background-color: var(--main-color) !important;
}

/* Выделение текста */
::selection {
    background: var(--hover-color) !important;
}

/* Цвет хедера плагинов */
.bd-addon-header {
    background-color: var(--hover-color) !important;
}

/* Закругленная панель настроек в настройках */
.side_b4b3f6 {
    border: 1px solid var(--background-modifier-accent);
    border-radius: 20px;
    box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45);
    margin-left: -30px;
}

/* Закругленная панель где писать сообщение */
.scrollableContainer_ff917f {
    border: 1px solid var(--background-modifier-accent);
    border-radius: 20px;
    /* box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.45); */
}

/* Анимации при переключении табов разных */
.messagesWrapper_add28b,
.container__7e23c,
.content__690c5,
.peopleColumn__0c784 {
    animation: show 0.3s ease;
}

/* Анимация прокрутки значка дискорда */
.tutorialContainer_b06ae6 .selected__501f5 .childWrapper_a6ce15 svg {
    animation: spin 0.8s 0.2s ease;
}

/* Контекстное меню */
.menu__088f7 {
    border-radius: 20px;
    border: 1px solid var(--background-modifier-accent);
    animation: 0.1s show ease;
}

/* Кнопки в контекстном меню */
.colorDefault_e361cf.focused_dcafb9 {
    border-radius: 10px;
}

/* Контекстное меню выбора региона звонка */
.quickSelectPopout__56a98 {
    border-radius: 10px;
    /* border: 1px solid var(--background-modifier-accent); */
    /* .regionSelectName_e97b48 {
    text-align: left;
	} */
}

/* Панель действий при наведении на сообщения */
.buttonsInner_a9dfff {
    border: 1px solid var(--background-modifier-accent);
    border-radius: 10px;
}

/* 3 кнопки в звонке смещаем немного влево*/
/*.wrapper__4d4fe {
    margin-right: 5%;
}*/

/* Поставленная реакция на сообщение */
.reactionMe__0fffc {
    background-color: var(--hover-color) !important;
    border-color: var(--checkbox-cheked-color) !important;
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    20% {
        transform: rotate(-20deg);
    }
    70% {
        transform: rotate(380deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
