/* 
	Author: Eject
	GitHub: https://github.com/Eject37
	Discord Server: https://discord.gg/8baJSRxXSm
	Discord: @eject37
*/

::-webkit-scrollbar {
    border: 0px !important;
    width: 9px !important;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(186, 186, 189) !important;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgb(157, 157, 160) !important;
}

.auto__99f8c::-webkit-scrollbar-track {
    background-color: #151b21;
}

.auto__99f8c::-webkit-scrollbar-thumb,
.auto__99f8c::-webkit-scrollbar-track {
    border: 4px;
}
